/* styles.css */
.hide-subscribed-button {
    background-color: #67c1f5;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-size: 12px;
    margin-left: 10px;
    padding: 5px 10px;
    transition: all 0.2s ease;
    vertical-align: middle;
}

.hide-subscribed-button.active {
    background-color: #2a475e;
    font-weight: bold;
}

.hidden-item {
    display: none !important;
}

.star-filter-button {
    margin-right: 5px;
}

.star-dropdown-content {
    display: none;
    position: fixed;
    background-color: #171a21;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2147483647;
    border: 1px solid #4d4d4d;
    border-radius: 2px;
}

.star-dropdown-content.show {
    display: block;
}

.star-option {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.star-option:hover {
    background-color: #2a475e;
}